# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Local databases
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env

# Generated images / outputs
resources/output/
resources/images/

data/

audio/
input/