# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Local databases
*.sqlite3
*.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Secrets
.env

# Generated images / outputs
resources/output/
resources/images/

data/

audio/
audio_relax/
input/
test.txt
resources/config/dollimages_prompts.example copy.json
resources/config/police.json
resources/config/bombera.json
resources/config/azafatas.json

import/
outputs/
